#root {
  width: 100%;
}
.chart {
  width: 100%;
  min-height: 300px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 -3px 31px 0 #0000000d, 0 6px 20px 0 #00000005;
  text-align: center;
}

.chart h2 {
  min-height: 70px;
}

.statistic-card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
}

.statistic-card-flex .card {
  width: calc(100% / 4 - 4 * 6px / 3);
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 -3px 31px 0 #0000000d, 0 6px 20px 0 #00000005;
  color: #fff;
  border-radius: 4px;
  min-height: 134px;
}
.statistic-card-flex .card p {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.statistic-card-flex .card h2 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 0;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-spin-nested-loading
  > div
  > .ant-spin {
  top: 26px;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-spin .ant-spin-dot-item {
  background-color: #fff;
}

.chart
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-spin
  .ant-spin-dot-item {
  background-color: #000;
}

.filter .ant-checkbox-wrapper {
  margin: 4px 0 !important;
  font-size: 18px;
}

.personel .ant-checkbox-wrapper {
  margin: 4px 0 !important;
  font-size: 14px;
}

.resizable-graph {
  max-width: calc(100% - 10px);
  min-width: calc(100% / 5 - 5 * 10px / 4);
  min-height: 200px;
}

.column canvas {
  width: 100% !important;
  height: calc(100% - 80px) !important;
}

.ant-modal-content {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chart-container div[data-chart-source-type] {
  width: 100% !important;
  height: 100% !important;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

@media (max-width: 992px) {
  .chart {
    width: calc(100% / 3 - 3 * 10px / 2);
  }

  .statistic-card-flex .card {
    width: calc(100% / 3 - 3 * 6px / 2);
  }
}

@media (max-width: 768px) {
  .chart {
    width: calc(100% / 2 - 2 * 10px);
  }

  .statistic-card-flex .card {
    width: calc(100% / 2 - 2 * 6px);
  }
}

@media (max-width: 576px) {
  .chart {
    width: calc(100% - 10px);
  }
  .statistic-card-flex .card {
    width: calc(100% - 6px);
  }
}
